body{
    font-family: Arial, sans-serif;
    background:#f4f4f4;
    padding:20px;
}

.container{
    max-width:800px;
    margin:auto;
}

.login-box,
.post-box{
    background:white;
    padding:20px;
    margin-bottom:20px;
    border-radius:8px;
}

input,
textarea{
    width:100%;
    padding:10px;
    margin-top:10px;
    margin-bottom:10px;
}

button{
    padding:10px 20px;
    cursor:pointer;
}

.post{
    background:white;
    padding:15px;
    margin-top:10px;
    border-radius:8px;
}